/* --- GLOBAL ---------------------------------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

html {
  scroll-behavior: smooth;
}

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0;
}

.clearfix {
	clear:both
}

body {
	background: #000;
	color: #fefefe;
	font-family: 'Josefin Sans', sans-serif, 'century gothic', Arial;
	background: url('https://pbs.twimg.com/media/DsdwyyTW0AAi78k.jpg:large');
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

h1 {
	text-shadow: 5px 5px 3px #000
}

::after {
	position: absolute;
	font-size: small;
	font-weight: bolder;
	width: auto;
	white-space: nowrap;
	background: #d64e7a;
	text-shadow: -3px 3px 3px #000;
	box-shadow: 5px 5px 50px 10px #000;
	padding: 3px;
	border-radius: 10px;
	visibility: hidden;
}

/* --- NAV -------------------------------------------------- */
nav {
	position: fixed;
	z-index: 500;
	width: auto;
	height: 100%;
	width: 150px;
	transition: .5s;
	background: #222;
	box-shadow: 10px 10px 50px 10px #000
}
nav a {
	text-decoration: none;
	color: #fefefe
}
nav ul {
	list-style-type: none;
	padding: 0px;
	text-align: center;
	height: 100%;
	position: relative;
}
nav ul li {
	margin-bottom: 5px;
	padding: 10px;
	cursor: pointer ;
	text-shadow: 5px 5px 5px #000
}
nav ul li:hover {
	background: #3366ff;
	text-shadow: -5px 5px 5px #000;
	transition: 1s
}
nav ul a .brand {
	padding: 0px;
	margin-bottom: 50px;
	position: relative;
    display: inline-block;
    cursor: crosshair
}
nav ul .brand::after {
	content: 'This is me :)';
	top: 120px;
	left: 130px;
	
}
nav ul .brand:hover {
	background: none
}
nav ul .brand:hover::after {
	visibility: visible;
}
nav ul li img {
	width: 100%;
	opacity: .5
}
nav ul .brand img:hover {
	opacity: 1
}
nav ul li .fa, .fas, .far {
	font-size: 35px;
	margin-bottom: 10px
}

/*--- MOBILE NAV ----------*/

.nav {
	display: none;
	position: fixed;
	z-index: 400;
	width: 100%;
	padding: 25px;
	background: #222;
}
.nav i {
	position: absolute;
	top: 15px;
	right: 25px;
	cursor: pointer;
	font-size: 25px;
	transition: .5s
}
.fa-close {
	transform: scale(0);
}
.nav i:hover {
	color: #6666ff
}
.nav .fa-close:hover {
	color: #cc0000
}

/* --- UP ------------------------------------------------------ */

.goup {
	background: #222;
	padding: 15px;
	position: fixed;
	z-index: 399;
	bottom: 50px;
	right: 50px;
	border: solid 1px gray;
	border-radius: 50%;
	box-shadow: 10px 10px 50px 5px #000;
	cursor: pointer;
	transform: scale(0);
	transition: 1s
}
.goup i {
	font-size: 30px;
	color: #fefefe;
	text-shadow: 5px 5px 5px #000;
}
.goup:hover {
	background: #3366ff;
}
.goup:hover i {
	text-shadow: -5px 5px 5px #000;
	transition: 1s
}
.goup:active {
	transform: scale(0.99);
	box-shadow: -2px -2px 5px 2px #000 inset, 2px 2px 5px 2px #000 inset ;
}

/* --- HEADER -------------------------------------------------- */

header {
	width: 100%;
	height: 300px;
	position: relative;
	z-index: 1;
	box-shadow: 10px 10px 50px 5px #000;
	margin-bottom: 20px
}
header .background, .content {
	position: absolute;
	width:100%;
	height: 100%;
}
header .background {
	z-index: 2;
	opacity: .5
}
header .background img {
	width: 100%;
	height: 100%
}
header .content {
	position: relative;
	z-index: 3;
	padding: 25px 25px 25px 200px;
}
header .content h1 {
	margin-bottom: 10px 
}
header .content p {
	color: #bbbbbb;
	font-size: x-large;
	line-height: 30px;
	margin-bottom: 10px 
}
header .content button {
	cursor: pointer;
	border: none;
	padding: 10px;
	margin: 5px;
	color: #fefefe
}
header .content a {
	text-decoration: none;
	background: none;
}
/* --- buttons ------------------------------- */
/* --- first buttons -- */
@-webkit-keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
@keyframes hvr-wobble-bottom {
  16.65% {
    -webkit-transform: skew(-12deg);
    transform: skew(-12deg);
  }
  33.3% {
    -webkit-transform: skew(10deg);
    transform: skew(10deg);
  }
  49.95% {
    -webkit-transform: skew(-6deg);
    transform: skew(-6deg);
  }
  66.6% {
    -webkit-transform: skew(4deg);
    transform: skew(4deg);
  }
  83.25% {
    -webkit-transform: skew(-2deg);
    transform: skew(-2deg);
  }
  100% {
    -webkit-transform: skew(0);
    transform: skew(0);
  }
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transform-origin: 100% 0;
  transform-origin: 100% 0;
  background: #3333ff
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  -webkit-animation-name: hvr-wobble-bottom;
  animation-name: hvr-wobble-bottom;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-wobble-bottom {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
}
.hvr-wobble-bottom:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #2098D1;
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0;
  transform-origin: 50% 0;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.5s;
  transition-duration: 0.5s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-wobble-bottom:hover, .hvr-wobble-bottom:focus, .hvr-wobble-bottom:active {
  color: white;
}
.hvr-wobble-bottom:hover:before, .hvr-wobble-bottom:focus:before, .hvr-wobble-bottom:active:before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
  -webkit-transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
  transition-timing-function: cubic-bezier(0.52, 1.64, 0.37, 0.66);
}
/* --- second buttons -- */
@-webkit-keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes hvr-wobble-vertical {
  16.65% {
    -webkit-transform: translateY(8px);
    transform: translateY(8px);
  }
  33.3% {
    -webkit-transform: translateY(-6px);
    transform: translateY(-6px);
  }
  49.95% {
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
  }
  66.6% {
    -webkit-transform: translateY(-2px);
    transform: translateY(-2px);
  }
  83.25% {
    -webkit-transform: translateY(1px);
    transform: translateY(1px);
  }
  100% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  -webkit-animation-name: hvr-wobble-vertical;
  animation-name: hvr-wobble-vertical;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: 1;
  animation-iteration-count: 1;
}
.hvr-wobble-vertical {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  background: #339933;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
}
.hvr-wobble-vertical:before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #2098D1;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transform-origin: 50%;
  transform-origin: 50%;
  -webkit-transition-property: transform;
  transition-property: transform;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-wobble-vertical:hover, .hvr-wobble-vertical:focus, .hvr-wobble-vertical:active {
  color: white;
}
.hvr-wobble-vertical:hover:before, .hvr-wobble-vertical:focus:before, .hvr-wobble-vertical:active:before {
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}
/* --- NAV & HEADER MEDIA -------------------------------------------------- */
@media(max-width: 1117px){
	header {
		height: 350px;
	}
}

@media(max-width: 1020px){
	header {
		height: 400px;
	}
}
@media(max-width: 688px){
	header {
		height: 450px;
	}
}
@media(max-width: 666px) {
	nav{left: -150px; box-shadow: none}
	.nav{display: block}
	header .content {
		padding: 70px 25px 25px 25px;
	}
}
@media(min-width: 666px) {
	nav{
		left:0px !important;
		box-shadow: 10px 10px 50px 10px #000 !important
	}
}
@media(max-width: 510px){
	header {
		height: 300px;
	}
	header .content h1 {
		font-size: medium;
	}
	header .content p {
		font-size: medium;
		line-height: normal;
	}
}
@media(max-width: 370px) {
	header .content p {
		font-size: medium;
	}
}
@media(max-width: 364px){
	header .content h1 {
		font-size: medium;
	}
	header .content p {
		font-size: small;
	}
}
@media(max-width: 310px) {
	header .content h1 {
		font-size: large;
	}
}
@media(max-width: 285px){
	header .content h1 {
		font-size: small;
	}
	header .content p {
		font-size: small;
	}
}
@media(max-width: 285px){
	header .content h1 {
		font-size: small;
	}
	header .content p {
		font-size: small;
	}
	header .content .hvr-wobble-bottom, .hvr-wobble-vertical {
		font-size: x-small;
	}
}
@media(max-width: 285px){
	header .content h1 {
		font-size: x-small;
	}
	header .content p {
		font-size: x-small;
	}
	header .content .hvr-wobble-bottom, .hvr-wobble-vertical {
		font-size: xx-small;
	}
}
@media(max-width: 222px){
	nav ul .brand::after {
		top: 150px;
		left:50px;
	}
}

/* --- MAIN -------------------------------------------------- */

main {
	padding: 0px 0 0 200px
}

main hr {
	display: block;
	width: 90%;
    height: 1px;
    border: 0;
    border-top: 2px solid #8f8f8f;
    padding: 0; 
    margin-bottom: 20px
} 

@media(max-width: 666px) {
	main {padding: 30px 20px 20px}
}
/* --- ABOUT -------------------------------------------------- */

main .about {
	padding: 15px 0px 20px;
}
main .about h1 {
	margin-bottom: 10px
} 
main .about p {
	font-size: 22px;
	line-height: 30px;
	margin-bottom: 10px
}
main .about p .full {
	border-bottom: dotted 1px #8f8f8f;
	cursor: help;
	position: relative;
}
main .about p .full::after {
	content: 'Muhammad Hasan Hamed Abbas';
	top: -40px;
	left: -100px;
}
main .about p .full:hover::after {
	visibility: visible;
}
main .about ul {
	border-left: solid 3px #990099;
	font-size: 20px;
	line-height: 30px;
	margin-bottom: 30px
}

main .about .work {
	border-left: solid 3px #ff0066;
}
/* --- SKILLS -------------------------------------------------------------- */

/* Slideshow container */
.slideshow-container {
  position: relative;
  background: #222;
  width: 90%;
  height: 300px
}
/* Slides */
.mySlides {
  display: none;
  padding: 80px;
  text-align: center;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  color: #888;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
}

/* The dot/bullet/indicator container */
.dot-container {
  text-align: center;
  padding: 20px;
  background: #999966;
  width: 90%;
  margin-bottom: 20px
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

/* Add a background color to the active dot/circle */
.active, .dot:hover {
  background-color: #222;
}

/* Add an italic font style to all quotes */
.slideshow-container h2 {
	margin-bottom: 10px 
}
.author {font-style: italic; letter-spacing: normal;}

/* Add a blue color to the author */
.author {color: cornflowerblue;}

@media (max-width: 1076px) {
	.slideshow-container .author {
	  font-size: medium;
	}
}
@media (max-width: 888px) {
	.slideshow-container .author {
	  font-size: small;
	}
}
@media (max-width: 760px) {
	.slideshow-container .author {
	  font-size: x-small;
	}  
}
@media(max-width: 666px){
	.slideshow-container {
	  width: 100%
	}
	.dot-container {
	  width: 100%
	}
	.slideshow-container .author {
	  font-size: medium;
	}  
}
@media(max-width: 600px){
	.slideshow-container .author {
	  font-size: small;
	}  
}
@media(max-width: 650px){
	.slideshow-container .author {
	  font-size: x-small;
	}  
}
@media(max-width: 460px){
	.slideshow-container h2 {
	  font-size: medium;
	} 
	.slideshow-container .author {
	  font-size: xx-small;
	}  
}
@media(max-width: 430px){
	.slideshow-container {
		height: auto
	}
}
/* --- LANGUAGES & CONTACT -------------------------------------------------- */
main .about .ara {
	margin-bottom: 5px;
	letter-spacing: 10px;
}
main .about .ara span {
	border-bottom: dotted 1px gray;
	cursor: help;
	position: relative;
}
main .about .ara span::after {
	content: 'My mother tongue';
	top: -40px;
	left: 10px;
	letter-spacing: normal;
}
main .about .ara span:hover::after {
	visibility: visible;
}
main .about .eng {
	margin-bottom: 5px;
	letter-spacing: 10px
}
main .about progress {
	margin-bottom: 20px;
	width: 80%;
	height: 30px
}
main .about progress:last-of-type {
	margin-bottom: 30px
}

main .about .contact {
	margin-bottom: 50px;
	padding-left: 50px 
}
main .about .contact a {
	text-decoration: none;
	color: #fefefe
}
main .about .contact div {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	background: #222;
	width: 400px;
	text-align: center;
	border-radius: 10px;
	box-shadow: 10px 10px 50px 10px #000;
	text-shadow: 5px 5px 3px #000
}
main .about .contact div:hover {
	text-shadow: -5px 5px 3px #000;
	transition: 1s;
	transform: scale(1.02);
}
main .about .contact div i {
	font-size: 50px;
	margin-bottom: 10px
}
main .about .contact div p {
	letter-spacing: normal;
	font-weight: bolder;
}
main .about .contact div p span {
	display: block;
	font-weight: lighter;
}
main .about .contact .whats i {color: #4cc75c}
main .about .contact .twitter i {color: #1da1f2}
main .about .contact .facebook i {color: #4267b2}
main .about .contact .email i {color: #ea4335}
main .about .contact div p .mob {
	position: relative;
	border-bottom: dotted 1px gray;
	cursor: help;
}
main .about .contact div p .mob::after {
	content: 'Also my Mobile';
	top: -40px;
	left: 10px
}
main .about .contact div p .mob:hover::after {visibility: visible;}

@media(max-width: 1113px) {
	main .about .contact div{
		width: 350px
	}
}
@media(max-width: 1020px) {
	main .about .contact {
		padding-left: 10px
	}
}
@media(max-width: 980px) {
	main .about .contact div{
		width: 300px
	}
	main .about .contact div p span {
		font-size: medium;
	}
}
@media(max-width: 875px) {
	main .about .contact div{
		width: 250px
	}
}
@media(max-width: 790px) {
	main .about .contact {
		padding-left: 50px
	}
	main .about .contact div{
		width: 400px
	}
	main .about .contact div p span {
		font-size: large;
	}
}
@media(max-width: 720px){
	main .about .contact {
		padding-left: 20px
	}
}
@media(max-width: 666px){
	main .about .contact {
		padding-left: 50px
	}
}
@media(max-width: 530px){
	main .about .contact {
		padding-left: 10px
	}
}
@media(max-width: 485px){
	main .about .contact div{
		width: 350px
	}
}
@media(max-width: 425px){
	main .about .contact div{
		width: 300px
	}
	main .about .contact div p {
		font-size: medium;
	}
}
@media(max-width: 380px) {
	main .about .contact div{
		width: 200px
	}
	main .about .contact div p span {
		font-size: small;
	}
}
@media(max-width: 333px){
	main .about p .full::after {
		top: 20px;
		left: 0px;
		white-space: pre-wrap;
	}
}
@media(max-width: 270px) {
	main .about .contact {
		padding-left: 0px
	}
	main .about .contact div{
		width: 150px
	}
	main .about .contact div p span {
		font-size: x-small;
	}
}
@media(max-width: 197px) {
	main .about .contact div{
		width: 120px
	}
	main .about .contact div p span {
		font-size: 7px;
		font-weight: bolder;
	}
}
/* --- FOOTER ------------------------------------------------------------*/

footer {
	background: #222;
	padding: 10px 10px 10px 180px;
	color: white;
	box-shadow: 10px -10px 50px 10px #000;
	column-count: 3
}
footer br {
	display: none
}
footer div {
	text-align: left;
	padding: 10px;
	width: 300px;
}
footer div h4 {
	margin-bottom: 10px;
}
footer div hr {
	display: block;
    height: 1px;
    border: 0;
    border-top: 2px solid #8f8f8f;
    padding: 0; 
    margin-bottom: 5px
}
footer div ul {
	padding: 0;
	list-style-type: none;
	line-height: 25px;
	color: #666
}
footer div ul a {
	text-decoration: none;
	color: #666
}
footer div ul a:hover {
	color: #fefefe;
	cursor: pointer;
	transition: .5s
}
@media(max-width: 1090px) {
	footer div hr {
		width: 200px
	}
}
@media(max-width: 880px) {
	footer {
		column-count: 2;
	}
}
@media(max-width: 666px) {
	footer {
		padding: 10px;
	}
}
@media(max-width: 470px) {
	footer {
		column-count: auto;
		padding-left: 50px;
	}
	footer div hr{
		width: 100%
	}
}
@media(max-width: 399px) {
	footer {
		padding-left: 10px;
	}
	footer div hr{
		width: 100%
	}
}
@media(max-width: 330px) {
	footer div hr{
		width: 50%
	}
}
@media(max-width: 266px) {
	footer br {
		display: block;
	}
}

